<!-- Sidebar for Invites module -->
<ul class="list-unstyled ps-0">
  <li class="mb-1">
    <a href="#" id="staff_invites-dropdown" class="btn btn-toggle align-items-center rounded collapsed w-100 text-start"
      data-bs-toggle="collapse"
      data-bs-target="#staff_invites-collapse"
      aria-expanded="false">
        <i class="bi bi-puzzle me-2"></i>
        <span>Invites</span>
      </a>
    <div class="collapse" id="staff_invites-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
        <li><a href="/staff_invites" class="link-light d-block py-1">All Invites</a></li>
        <li><a href="/staff_invites/new" class="link-light d-block py-1">New Invite</a></li>
      </ul>
    </div>
  </li>
</ul>
