<!-- Sidebar for Appointments module -->
<ul class="list-unstyled ps-0">
  <li class="mb-1">
    <a href="#" id="appointments-dropdown" class="btn btn-toggle align-items-center rounded collapsed w-100 text-start"
      data-bs-toggle="collapse"
      data-bs-target="#appointments-collapse"
      aria-expanded="false"
      >
        <i class="bi bi-calendar-check me-2"></i>
        <span>Appointments</span>
      </a>

    <div class="collapse" id="appointments-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
        <li><a href="/appointments" class="link-light d-block py-1"><span>All Appointments</span></a></li>
        <li><a href="/appointments/new" class="link-light d-block py-1"><span>New Appointment</span></a></li>
        <li><a href="/appointments/calendar" class="link-light d-block py-1"><span>Calendar View</span></a></li>
      </ul>
    </div>
  </li>
</ul>

